.contact div{
    padding-bottom: 20px;
    text-align: center;
}
.contact label{
    padding: 10px;
    text-align: center;
}
.section_cont{
    background-color:  #fff8d0;
}

.texto { 
   width:400px;
   height: 200px;
}
label{
    font-weight: 800;
}

.contact h4{
    text-align: center;
}
.boton{
    margin-top: 20px;
   border-radius:20px;
   color: black;
   background-color: #fad15e;
   padding: 5px 10px;
   font-weight: bold;
   text-align: center;
   
}

