.slider-area h2 {

}
.wrapper {
	display: flex;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: white;
}
.item {
	animation: animate 25s alternate linear infinite;
}
.wrapper:hover .item {
	animation-play-state: paused;
}
@keyframes animate {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-80vw, 0);
	}
}
@media (max-width:767px) {
	.slider-area h2 {
		font-size: 30px;
	}
	.wrapper {
		width: 95%;
		border-radius: 0;
		padding: 0;
	}
}