.carousel-image {
    height: 25vh;
}


#home{
    font-family: 'Vollkorn', serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    -webkit-transform: translateY(-50%);
    transform: translateY(20%);
    text-shadow: 0 0 10px rgb(104, 104, 98), 0 0 50px #000; 
}
.bot{
    position: absolute;
    bottom:0;
    right: 0;
    
}

#boton{
    background-color: black;
    color:white;
    border-radius:10px;
    border: 2px solid #ffc107;
    margin-left: 20px;
    
} 
