.carousel-image {
    height: 25vh;
}


#home{
    font-family: 'Vollkorn', serif;
    font-style: bold;
    font-weight: 400;
    font-size:35px
}
.bot{
    position: absolute;
    bottom:0;
    right: 0;
    
}

#boton{
    background-color: black;
    color:white;
    border-radius:10px;
    border-color: yellow;
    margin-left: 20px;
    
}

.mt-3{
    color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(20%);
    text-shadow: 0 0 10px #000, 0 0 50px #000; 
}