.carousel-image {
    height: 25vh;
}


#home{
    font-family: 'Vollkorn', serif;
    font-style: bold;
    font-weight: 400;
    font-size:35px
}
.bot{
    position: absolute;
    bottom:0;

    
}

#boton{
    background-color: black;
    color:white;
    border-radius:10px;
    border-color: yellow;
    margin-left: 20px;
}