.navBg {
    background-color: rgb(25, 25, 23);
}

#siteIcon {
    border: 2px solid aliceblue;
    border-radius: 20%;
    height: 40px;
    width: 40px;
}

.bottomNav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: #FFEF2D;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    border-color: aliceblue;
}

#nav1 {
    font-family: 'Vollkorn', serif;
    font-size: 16px;
}

#nav2{
    font-family: 'Vollkorn', serif;
    font-size: 16px;
}


@media (max-width: 767px) {
    .navMedia {
        align-items: center
    }
}