    :root {
        --animation-duration: 300ms;
        --animation-timing-curve: ease-in;
    }
    
    .mainSidebar {
        display: flex;
    }

    .sidebar {
        flex-shrink: 0;
        width: 72px;
        overflow-x: hidden;
        border-right: 1px solid black;
        display: flex;
        flex-direction: column;
        height: calc(100vh);
        padding-top: 1rem;
        align-items: center;
        justify-content: stretch;
        transition: width var(--animation-duration)
            var(--animation-timing-curve);
        position: sticky;
        left: 0;
        top: 0;
    }

    .sidebar .hidden-sidebar {
        opacity: 0;
        width: 0;
        white-space: nowrap;
        transition: opacity var(--animation-duration)
            var(--animation-timing-curve);
    }
    .sidebar .hover {
        display: none;
    }
    .sidebar .hover:hover {
        display: flex;
    }
    .sidebar.open .hidden-sidebar {
        /* width: 100%; */
        height: auto;
        opacity: 1;
        display: block;
    }

    .middle-sidebar {
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
    }
    .bottom-sidebar {
        width: 100%;
    }

    .sidebar-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }

    .sidebar-icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-right: 19px;
    }

    .sidebar-link {
        display: flex;
        width: 100%;
        align-items: center;
        color: aliceblue;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        padding-left: 25px;
        height: 48px;
        cursor: pointer;
    }
    .sidebar-link.menu {
        background-color: darkslategray;
        border: none;
        
    }
    .sidebar-link.menu:hover {
        background-color: slategray
    }

    .sidebar-list-item {
        width: 100%;
        fill: aliceblue;
        position: relative;
    }

    .sidebar-list-item.active {
        fill: white;
        background-color: black;
    }
    .sidebar-list-item.active::before {
        content: "";
        background-color: lightblue;
        height: 100%;
        left: 0;
        position: absolute;
        width: 4px;
    }
    .sidebar-list-item:hover {
        background-color: gainsboro;
    }

    .sidebar.open {
        width: 255px;
    }

    .sidebar.open .sidebar-link {
        justify-content: flex-start;
    }

    .sidebar.open .sidebar-icon {
        margin-right: 1.2rem;
    }

    .sidebar.open .brand-logo {
    width: 112px;
    height: 112px;
}

.sidebar .brand-logo {
    display: block;
    width: 32px;
    height: 32px; 
    transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar .brand-logo > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sidebar.open .brand-logo > img {
    width: 100%;
    height: 100%;
}

.sidebar .top-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-sidebar {
    height: 30px;
    margin-bottom: .5rem;
    transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
    height: 175px;
}

.welcome-message {
    color: white;
    font-size: 15px;
    padding-top: 14px;
}

.top-sidebar .hidden-sidebar {
    text-align: center;
    width: 100%;
}