.profileImg {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    max-width: 300px;
    height: auto;
}

.user-dashboard-container{
    background-color: rgba(255, 255, 255, 0.712);
    margin: 25px auto 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}