#foot {
    background-color: #191917;
    margin-top: auto;
    width: 100%;
}

.footerImg {
    border: 2px solid rgba(240, 248, 255, 0.502);
    border-radius: 20%;
    height: 70px;
    width: 70px;
    margin-bottom: 0.5rem;
    
}

@media (min-width: 767px) {
    .footerImg {
        margin-left: -15rem;
    }
}