.pruebacontainer {
    background-color: rgba(255, 255, 255, 0.712);
    margin: 125px auto 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    /* max-width: 800px;
    min-height: 650px;
    width: 90%; */
    border-radius: 10px;
    border: 2px solid var(--color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
